# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# Env
.env
.env.*

# Git
.git/
.gitignore

# Docs
README.md
*.md

# Dev tools
.cursor
.vscode/
.idea/
*.sublime-*

# Tests
test/
__tests__/
coverage/

# Build
dist/
